<!-- flask extension here -->

{% extends "layoutindex.html" %}

{% block index %}


<body style=" background: #7F7E7E;background: linear-gradient(to bottom, #E91748, #4A4647);color:darkgrey;">

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About</a>
          </li>

          {% if logstatus : %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          {% else %} 

        <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
          </li>
          
          {% endif %}

          

          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
              <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
              <a class="dropdown-item" href="blog-post.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Blog Home Two
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Blog Home 2</li>
    </ol>

    <!-- Blog Post -->
    <div class="row">

      <div class="col-lg-12">
        <form action='/updateblog' method="POST" enctype="multipart/form-data" >
          <div class="col-lg-12">
            <div class="form-group"style="padding:5px auto;" >
              <br>

              <!-- code for loading image from database comes here  -->
              <!-- <img class="img-fluid rounded" src="https://picsum.photos/900/300?grayscale" style="margin:auto; " alt=""> -->
              <img class="img-fluid rounded" src="../static/images/ceil.jpg" style="margin:auto; " alt="">


              <br>
              <br>
              <input type="file"  class="btn btn-primary" placeholder="filename" name="bpicture" style=""> 
            </div>
          </div>
          <br>
          
                <!-- Post title-->
          <div class="col-lg-12">
            <div class="form-group">
              <label for="post_title">Post title</label>
              <textarea class="form-control form-control-lg" id="post_title" name= "post_title" rows="3">Post title</textarea>
            </div>
          </div>
          
                <!-- p1 -->
          <div class="col-lg-12">
            <div class="form-group">
              <label for="pgraph1">First Paragraph</label>
              <textarea class="form-control form-control-lg" id="pgraph1" name= "pgraph1" rows="3"></textarea>
            </div>
          </div>
          
                  <!-- p2 -->
          <div class="col-lg-12">
            <div class="form-group">
              <label for="pgraph2">Second Paragraph</label>
              <textarea class="form-control form-control-lg" id="pgraph2" name="pgraph2" rows="3"></textarea>
            </div>
          </div>
                  <!-- p3 -->
          <div class="col-lg-12">
            <div class="form-group">
              <label for="pgraph3">Third Paragraph</label>
              <textarea class="form-control" id="pgraph3" name="pgraph3" rows="3"></textarea>
            </div>
          </div>
                <!-- p1 -->
          <div class="col-lg-12">
            <div class="form-group">
              <label for="qoute">Qoute</label>
              <textarea class="form-control form-control-lg" id="qoute" name= "qoute" rows="3"></textarea>
            </div>
          </div>      <!-- p1 -->
          <div class="col-lg-12">
            <div class="form-group">
              <label for="qoute_ref">Qoute reference</label>
              <textarea class="form-control form-control-lg" id="qoute_ref" name= "qoute_ref" rows="3"></textarea>
            </div>
          </div>
                  <!-- p4 -->
          <div class="col-lg-12">
            <div class="form-group">
              <label for="pgraph6">Sixth Paragraph</label>
              <textarea class="form-control" id="pgraph6" name="pgraph6" rows="3"></textarea>
            </div>
                  <!-- p1 -->
          <div class="col-lg-12">
            <div class="form-group">
              <label for="pgraph7">Seventh Paragraph</label>
              <textarea class="form-control form-control-lg" id="pgraph7" name= "pgraph7" rows="3"></textarea>
            </div>
          </div>
            <input type="submit" value="Submit" > 
          </div>


        </form>
      </div>

    </div>
      <!-- row -->

    
    

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% endblock index %}